extends layout

block content
  h1= title

  ul
    each book in book_list
      li#list-item
        a(href=book.url) #{book.title}
        |  (#{book.author.name})

    else
      li There are no books.
  
  include searchBar.pug
